footer {

    height: 100px;

    background-color: gray;

    .footer-box {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 40px;

        .footer-logo {
            background-image: url(../images/Game-of-Thrones-logo.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 126px;
            height: 60px;


        }

        .footer-text {
            width: 222px;
            height: 14px;
            font-family: GillSansregular;
            font-size: 12px;
            color: white;
        }


        .footer-icons {
            .user {
                width: 22px;
                height: 22px;
                color: white;
            }
        }
    }
}